<h1 class="text-center text-monospace">
  SIGN IN
</h1>
<br>

<div class="card">
    <form style="margin:auto;" action="/user/create-session" method="POST" class="w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
        <div class="form-group">
          <label for="email" class="required">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
          
        </div>
        <div class="form-group">
          <label for="password" class="required">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
          
        </div>
        <input class="btn btn-secondary btn-block" type="submit" value="Sign in">
      </form>
</div>